.header__logo {
    img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 15px;
        margin-left: 15px;
        cursor: pointer;
    }
}

.header__menu {
    ul {
        display: flex;
        list-style: none;
        padding-left: 0px;
        li {
            margin: 0px 10px;
        }
    }
}

.header__toolbar {
    display: flex;
    align-items: center;
    a {
        margin: 0px 20px;
    }
    img {
        width: 40px;
    }
}